{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}


{% block content %}
    <div id="header">
        <a class='pull-left' href='{{ path('_home') }}'><img src='/img/logo.png'></a>

        <h1 class='pull-left'><a href='{{ path('_home') }}'>HubDrop.io</a></h1>

        <h2 class='pull-right'><a href='http://drupal.org/project/{{ project.name }}' target="_blank">{{ project.name }}</a></h2>
        <p>&nbsp;</p>
    </div>

    <div class="{% if project.mirrored %}mirrored{% endif %}">
    <div class="jumbotron">

      {% if project.exists %}
      <section class="container"><div class="row">
        <div id="drupal-info" class="col-sm-5 small">
          <div class="panel panel-info">
              <div class="panel-heading text-center">
                  <img src="/img/druplicon.png">
              </div>
            <div class="list-group">
                <a href="{{ urls.drupal.web }}" class="list-group-item" title="Visit {{ urls.github.web }}">Project Page</a>
                <span class="list-group-item">
                    <input class="form-control" value="git clone {{ urls.drupal.http }}" onclick="this.select()"/>
                </span>
            </div>
          </div>
        </div>
        <div id="direction-info" class="col-sm-2 small text-center">
            {% if project.mirrored %}
                {% if project.source == 'github' %}
                    <span class="glyphicon glyphicon-arrow-left text-success "></span>
                    <p class="text-success text-center">
                        Code moves from GitHub to Drupal.
                    </p>
                {%  else %}
                    <span class="glyphicon glyphicon-arrow-right text-info "></span>
                    <p class="text-info text-center">
                        Code moves from Drupal to GitHub.
                    </p>
                {% endif %}
            {% else %}
                {%  if project.mirrored == FALSE and allow_mirroring %}
                    <a href='?mirror=go' class="btn btn-success btn-lg" id="mirror-button"><span class="glyphicon glyphicon-transfer"></span><br /> Mirror On GitHub</a>
                {%  else  %}
                    <a href='#' class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-transfer"></span><br /> Mirroring disabled</a>
                {%  endif %}
            {%  endif %}
        </div>
        <div id="github-info" class="col-sm-5 small"><div class="panel panel-info">
            <div class="panel-heading text-center">
                <img src="/img/github-mark.png">
            </div>
            <div class="list-group">
            <a href="{{ urls.github.web }}" class="list-group-item" title="Visit {{ urls.github.web }}">{% if project.mirrored == false %}<strike>{% endif %}Repo Page{% if project.mirrored == false %}</strike>{% endif %}</a>
            <span class="list-group-item">
            <input class="form-control" value="git clone {{ urls.github.http }}" onclick="this.select()" {% if project.mirrored == false %}disabled="disabled"{% endif %}/>
            </span>
        </div></div></div>
      </div></section>
      {%  else  %}
      <section class="container"><div class="row">
          {{ project.name }} is not a Drupal.org project.
      </div></section>
      {%  endif %}

      {%  if project.mirrored %}
        <p class="text-muted text-center">
            This module is mirrored on GitHub.  It is updated every minute, approximately.
        </p>
      {%  endif %}


        {% if project.committers %}
            <h3>GitHub Maintainers</h3>
            <ul>
            {% for user in project.committers %}
                <li>{{ user.username|e }} <a href="http://drupal.org/user/{{ user.username }}" class="small text-muted">http://drupal.org/user/{{ user.uid }}</a> <a href="http://github.com/{{ user.username }}" class="small text-muted">http://github.com/{{ user.username }}</a></li>
            {% endfor %}
            </ul>
            <p>Are you a maintainer and are missing from this list? Add a link to your github profile to your Drupal.org account and we will add you on the next update.</p>

        {% endif %}




    </div>
  </div>
  </div>
{% endblock %}
