{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}


{% block content %}
<div id="header">
    <a class='pull-left' href='{{ path('_home') }}'><img src='/img/logo.png'></a>

    <h1 class='pull-left'><a href='{{ path('_home') }}'>HubDrop.io</a></h1>

    <h2 class='pull-right'><a href='http://drupal.org/project/{{ project.name }}' target="_blank">{{ project.name }}</a></h2>
    <p>&nbsp;</p>
</div>

    <div class="container">
        To move a project to GitHub, follow these instructions:
        <ol>
            <li>Add user "hubdrop" as a maintainer of your project.</li>
            <li>Give hubdrop  "Write to VCS" permission.</li>
            <li>Remove "Write to VCS" for all other maintainers to prevent pushes to drupal.org.</li>
            <li>On your Drupal.org profile, add a link to your GitHub user page.</li>
            <li>Click this button:</li>
        </ol>

        <p class="text-muted text-center">
            <a href='/project/{{ project.name }}/migrate?action=migrate' class="btn btn-success btn-lg" id="migrate-button"><span class="glyphicon glyphicon-transfer"></span><br /> Move Development to GitHub</a>
        </p>

    </div>



{% endblock %}
