{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}

    <div class="jumbotron">
      <h1 class="panel-title">{{ project_name }}
      <small id="mirror-status-label">
        {% if project_mirrored %}
          <a href="{{github_web_url}}" class="label label-success">Mirrored on GitHub</a>
        {% else %}
          <span class="label label-danger">Not Mirrored on GitHub</span>
        {% endif %}
      </small>
      </h1>


      {% if project_mirrored %}
        <p>
          This module is mirrored on GitHub, at <a href="{{github_web_url}}" class="text-muted">{{github_web_url}}</a>.  It is updated every minute, approximately.
        </p>
      {% else %}
        <p class="text-muted">
          This module is not yet mirrored on GitHub.  Hit the <strong>Big Green Button</strong>
          below to mirror it to <a href="{{github_web_url}}" class="text-muted">{{github_web_url}}</a>.
        </p>
        <p id="mirror-button" class="text-center">
          <a href='?mirror=go' class="btn btn-success btn-lg"><span class="glyphicon glyphicon-transfer"></span> Mirror {{ project_name }} On GitHub</a>
        </p>
      {% endif %}



      {% if project_exists %}
        <div id="drupal-info" class="panel panel-info">
          <div class="panel-heading">
            Drupal.org Links
          </div>
        <div class="list-group">
          <a href="{{ project_drupal_url }}" class="list-group-item">{{ project_drupal_url }}</a>
          <a href="{{ project_drupal_git }}" class="list-group-item">{{ project_drupal_git }}</a>
        </div>
        {% else %}
          <a href="{{ project_drupal_url }}">{{ project_drupal_url }}</a> not found on Drupal.org.
        {% endif %}
      </div>
</div>
{% endblock %}
