{% extends 'HubDropBundle::layout.html.twig' %}

{% block content_header '' %}


{% block content %}
    <div id="header">
        <a class='pull-left' href='{{ path('_home') }}'><img src='/img/logo.png'></a>

        <h1 class='pull-left'><a href='{{ path('_home') }}'>HubDrop.io</a></h1>

        <h2 class='pull-right'><a href='http://drupal.org/project/{{ project.name }}' target="_blank">{{ project.name }}</a></h2>
        <p>&nbsp;</p>
    </div>

    <div class="{% if project.mirrored %}mirrored{% endif %}">
    <div class="jumbotron">

      {% if project.exists %}
      <section class="container"><div class="row">

        <div id="action" class="col-sm-12"">
          <div id="mirror-status" class="text-center">
              <img src="/img/druplicon.png">
              {% if project.mirrored %}
                  <span class="glyphicon glyphicon-transfer"></span>
              {% else %}
                  {%  if project.mirrored == FALSE and allow_mirroring %}
                      <a href='?mirror=go' class="btn btn-success btn-lg" id="mirror-button"><span class="glyphicon glyphicon-transfer"></span><br /> Mirror On GitHub</a>
                  {%  else  %}
                      <a href='#' class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-transfer"></span><br /> Mirroring disabled</a>
                  {%  endif %}
              {%  endif %}
              <img src="/img/github-mark.png">
          </div>
          <p class="text-muted text-center">
              {% if project.mirrored %}
              <small>Now Mirroring</small>
              {% else %}
              <small>Click the Big Green Button above to mirror this project on GitHub.</small>
              {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div id="drupal-info" class="col-sm-6 small">
          <div class="panel panel-info">
            <div class="list-group">
                <a href="{{ urls.drupal.web }}" class="list-group-item">{{ urls.drupal.web }}</a>
                <span class="list-group-item">
                    <input class="form-control" value="git clone {{ urls.drupal.http }}" onclick="this.select()"/>
                </span>
            </div>
          </div>
        </div>
        <div id="github-info" class="col-sm-6 small"><div class="panel panel-info">
            <div class="list-group">
            <a href="{{ urls.github.web }}" class="list-group-item">{% if project.mirrored == false %}<strike>{% endif %}{{ urls.github.web }}{% if project.mirrored == false %}</strike>{% endif %}</a>
            <span class="list-group-item">
            <input class="form-control" value="git clone {{ urls.github.http }}" onclick="this.select()" {% if project.mirrored == false %}disabled="disabled"{% endif %}/>
            </span>
        </div></div></div>
      </div></section>
      {%  else  %}
      <section class="container"><div class="row">
          {{ project.name }} is not a Drupal.org project.
      </div></section>
      {%  endif %}

      {%  if project.mirrored %}
        <p class="text-muted text-center">
            This module is mirrored on GitHub.  It is updated every minute, approximately.
        </p>
      {%  endif %}
      {% if project.source == 'github' %}
        <p class="text-success text-center">
          The source for this module lives on GitHub.
        </p>
      {% endif %}
    </div>
  </div>
  </div>
{% endblock %}
